<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,352},{181,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,147}}</string>
                <key>sourceSize</key>
                <string>{181,147}</string>
            </dict>
            <key>attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{170,159}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,38},{170,159}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,271},{204,113}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,58},{204,113}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,188},{216,153}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{216,153}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,343},{198,195}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{198,195}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{184,217}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{184,217}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>attack6.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,104},{216,165}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{216,165}}</string>
                <key>sourceSize</key>
                <string>{216,219}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,387},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,343},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,387},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,386},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>bird6.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,413},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>bird7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>bird8.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,976},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>bird9.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,352},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,540},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,703},{59,145}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{59,145}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{73,151}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{73,151}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,352},{89,155}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{89,155}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,540},{97,161}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,161}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,703},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>drop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,540},{74,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>drop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,453},{76,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>drop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,683},{74,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,104},{53,135}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{53,135}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,703},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,298},{63,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,153}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,703},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,241},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,823},{74,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,898},{76,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,453},{78,138}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,683},{74,138}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{76,138}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{76,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>hit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,850},{74,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{137,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,184}}</string>
                <key>sourceSize</key>
                <string>{137,184}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,352},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{272,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,100}}</string>
                <key>sourceSize</key>
                <string>{272,100}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{521,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,348}}</string>
                <key>sourceSize</key>
                <string>{521,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cdf26f47b663f97042dec5e7de3275a:7fa50f04e7236e3a704da19786decd67:956d0322fb30c40cbd9ca2a22036a305$</string>
            <key>textureFileName</key>
            <string>player.pvr.ccz</string>
        </dict>
    </dict>
</plist>
