<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,825},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,764},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,627},{53,135}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{53,135}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,764},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,525},{63,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,153}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,764},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,953},{137,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,184}}</string>
                <key>sourceSize</key>
                <string>{137,184}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,525},{272,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,100}}</string>
                <key>sourceSize</key>
                <string>{272,100}</string>
            </dict>
            <key>start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,627},{386,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,216}}</string>
                <key>sourceSize</key>
                <string>{386,216}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{521,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,348}}</string>
                <key>sourceSize</key>
                <string>{521,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcd3390ad7ccabf51419b27ed8cbebed:72930a101ccf28567ee722690d153fa0:956d0322fb30c40cbd9ca2a22036a305$</string>
            <key>textureFileName</key>
            <string>player.pvr.ccz</string>
        </dict>
    </dict>
</plist>
