<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,233},{181,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,147}}</string>
                <key>sourceSize</key>
                <string>{181,147}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>bird4.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,970},{38,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,26}}</string>
                <key>sourceSize</key>
                <string>{38,26}</string>
            </dict>
            <key>bird5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{63,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,33}</string>
            </dict>
            <key>bird6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,627},{57,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,34}}</string>
                <key>sourceSize</key>
                <string>{57,34}</string>
            </dict>
            <key>bird7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,814},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>bird8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>bird9.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,766},{46,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,59}}</string>
                <key>sourceSize</key>
                <string>{46,59}</string>
            </dict>
            <key>crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,538},{126,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,141}}</string>
                <key>sourceSize</key>
                <string>{126,141}</string>
            </dict>
            <key>die1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,477},{59,145}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{59,145}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,158},{73,151}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,20},{73,151}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{89,155}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{89,155}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>die4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,665},{97,161}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{97,161}}</string>
                <key>sourceSize</key>
                <string>{111,175}</string>
            </dict>
            <key>down.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,416},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>drop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,744},{74,138}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>drop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,666},{76,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>drop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,525},{74,138}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,138}}</string>
                <key>sourceSize</key>
                <string>{78,144}</string>
            </dict>
            <key>flying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,764},{53,135}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{53,135}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,416},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,93},{63,153}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,153}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>flying4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,416},{59,145}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{59,145}}</string>
                <key>sourceSize</key>
                <string>{63,155}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,766},{55,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,52}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,627},{137,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,184}}</string>
                <key>sourceSize</key>
                <string>{137,184}</string>
            </dict>
            <key>plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{272,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,100}}</string>
                <key>sourceSize</key>
                <string>{272,100}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{521,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{521,348}}</string>
                <key>sourceSize</key>
                <string>{521,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1c9a6b23180d6c84f0e6d5063bf47e:1375140485c86f05bb3fd8c16b196749:956d0322fb30c40cbd9ca2a22036a305$</string>
            <key>textureFileName</key>
            <string>player.pvr.ccz</string>
        </dict>
    </dict>
</plist>
